<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area ">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">Checkout</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Begin Yena's Checkout Area -->
        <div class="checkout-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="coupon-accordion">
                          
                            <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                            <div id="checkout_coupon" class="coupon-checkout-content">
                                <div class="coupon-info">
                                    <form action="javascript:void(0)">
                                        <p class="checkout-coupon">
                                            <input placeholder="Coupon code" type="text">
                                            <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <form method="post" action="/checkout">
                            <div class="checkbox-form">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="country-select clearfix">
                                            <label>Country <span class="required">*</span></label>
                                            <input placeholder="Country" type="text" name="country" value="<%= user_details.country%>">
                                       
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Full Name <span class="required">*</span></label>
                                            <input placeholder="" type="text" name="full_name" value="<%= user_details.Full_Name %>">
                                        </div>
                                    </div>
                                
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Address <span class="required">*</span></label>
                                            <input placeholder="Street address" type="text" name="address" value="<%= user_details.Address%>">
                                        </div>
                                    </div>
                                 
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Town / City <span class="required">*</span></label>
                                            <input type="text" name="city" value="<%= user_details.City %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>State  <span class="required">*</span></label>
                                            <input placeholder="" type="text" name="state" value="<%= user_details.State %>">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input placeholder="" type="email" name="email" id="email-address" value="<%= user_details.Email %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Phone <span class="required">*</span></label>
                                            <input type="text" name="phone_number" value="<%= user_details.PhoneNo %>">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                      

                                        <!-- <div class="check-box">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Remember me</label>
                                </div> -->

                                <div class="order-button-payment">
                                    <input value="Save" type="submit">
                                </div>
                                    </div>
                                </div>
                           
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="cart-product-name">Product</th>
                                            <th class="cart-product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(cartItems.length > 0) { %>
                                            <% cartItems.map(item => { %>
                                        <tr class="cart_item">
                                            <td class="cart-product-name"><%= item.product_name %><strong class="product-quantity">
                                            × 3</strong></td>
                                            <td class="cart-product-total"><span class="amount">₦<%= item.product_price %></span></td>
                                      
                                        </tr>
                                        <% }) %>
                                        <% } else { %>
                                            <p>Your orders are empty</p>
                                        <% } %>
                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">₦<%= total(0) %></span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">₦<%= total(0) %></span></strong></td>
                                            <input type="hidden" id="amount" value="<%= total(0) %>">
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Direct Bank Transfer.
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Make your payment directly into our bank account. Please use your Order
                                                        ID as the payment
                                                        reference. Your order won’t be shipped until the funds have cleared in
                                                        our account.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-2">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Cheque Payment
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Make your payment directly into our bank account. Please use your Order
                                                        ID as the payment
                                                        reference. Your order won’t be shipped until the funds have cleared in
                                                        our account.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-3">
                                                <h5 class="panel-title">
                                                    <a href="javascript:void(0)" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        PayPal
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Make your payment directly into our bank account. Please use your Order
                                                        ID as the payment
                                                        reference. Your order won’t be shipped until the funds have cleared in
                                                        our account.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="order-button-payment">
                                        <form method="post" action="/checkout-payment" >
                                        <input value="Place order" type="submit">
                                    </div>
                                </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Yena's Checkout Area End Here -->

        <script>

     
          // Use the retrieved value in your HTML
             const amount = document.getElementById('amount')
            var paymentForm = document.getElementById('paymentForm');
            paymentForm.addEventListener('submit', payWithPaystack, false);
          
            function generatePaymentReference() {
              var timestamp = new Date().getTime();
              var randomString = Math.random().toString(36).substring(7);
              var reference = 'PAYSTACK_' + timestamp + '_' + randomString;
              return reference;
            }
          
            function payWithPaystack() {
              var reference = generatePaymentReference(); // Generate a unique payment reference
          
              var handler = PaystackPop.setup({
                key: 'pk_test_aeafd42276623e6b13bfe87a9d828590d41aace3', // Replace with your public key
                email: document.getElementById('email-address').value,
                amount: document.getElementById('amount').innerText * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
                currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
                ref: reference, // Use the generated payment reference
                callback: function(response) {
                  // This happens after the payment is completed successfully
                  var reference = response.reference;
                  alert('Payment complete! Reference: ' + reference);
                  document.getElementById('deliveryDetailsButton').removeAttribute('disabled');
                  // Make an AJAX call to your server with the reference to verify the transaction
                  $.ajax({
                    url: 'http://localhost:3000/verify_transaction?reference=' + response.reference,
                    method: 'get',
                    success: function(response) {
                      // The transaction status is in response.data.status
                      alert('completed')
                       // Enable the delivery details button
            
                      
          
                     
                    }
                  });
                },
             
                onClose: function() {
                  alert('Transaction was not completed, window closed.');
                },
              });
          
              handler.openIframe();
            }
          </script>
        <!-- Begin Footer Area -->
        <%- include("partials/footer") -%>