
<%- include("partials/header2") -%>

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Product</h1>
							<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Product</p>
						</div>
						<div>
							<a href="/product-add" class="btn btn-primary"> Add Porduct</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table"
											style="width:100%">
											<thead>
												<tr>
													<th>Product</th>
													<th>Name</th>
													<th>Price</th>
													<th>Offer</th>
													<!-- <th>Purchased</th> -->
													<th>Stock</th>
													<th>Status</th>
													<!-- <th>Date</th> -->
													<th>Action</th>
												</tr>
											</thead>

											<tbody>
												<% products.forEach((product) => { %>
												
											
												<tr>
													<td><img class="tbl-thumb" src="/images/products/<%= product.image.name%>" alt="product.image.name" /></td>
													<td><%= product.name %></td>
													<td>₦<%= product.price %></td>
													<td>25% OFF</td>
													<!-- <td>61</td> -->
													<td><%= product.quantity %></td>
													<td>ACTIVE</td>
													<!-- <td>2021-10-30</td> -->
													<td>
														<div class="btn-group mb-1">
															<button type="button"
																class="btn btn-outline-success">Info</button>
															<button type="button"
																class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																data-bs-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false" data-display="static">
																<span class="sr-only">Info</span>
															</button>

																<div class="dropdown-menu">
																	<form  method="post"  action="/delete-product">
																	<input type="hidden" name="productId" value="<%= product._id%>">
																	
																	<button type="submit" class="dropdown-item"><a>Delete</a></button>
																</form>
																    <form method="get" action="/edit-product/<%= product._id%>"> 
																	<input type="hidden" name="productId" value="<%= product._id%>">
																	<input type="hidden" name="name" value="<%= product.name%>">
																	<input type="hidden" name="price" value="<%= product.price%>">
																	<input type="hidden" name="description" value="<%= product.description%>">
																	<input type="hidden" name="image" value="<%= product.image.name%>">
																	<input type="hidden" name="quantity" value="<%= product.quantity%>">
																	<button type="submit" class="dropdown-item"><a>Edit</a></button>

																	</form>																
																</div>
															
														
														</div>
													</td>
												</tr>

												<% }) %>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->


			<%- include("partials/footer2") -%>